body{
	background-image: url(../image/background.jpg);
	background-position: 0px -150px;
	background-size: cover;
	background-repeat: no-repeat;
  width: 98%;
}

h2{
  font-size: 30px;
  margin-top: 200px;
  margin-bottom: 20px;
}

#h2Admin{
  margin-top: 250px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  color: #337ab7;
  text-align: center;
}

#formErreur{
    color: red;
}
